<footer id="_bottom">
    <div class="container" style="padding-left: 0px; padding-top: 10px; padding-bottom: 10px;">
        <div class="col-xs-8 col-md-8" style="width: 600px;">
            <p><strong>版权所有 © 2013-2014 Golearns</strong>
            </p>
            <p>网站建设者 <i class="icon-user"></i>  <a target="_blank" href="https://github.com/m2lan">@m2lan</a>. 项目基于 <a target="_blank" href="http://gowalker.org/github.com/astaxie/beego"><i class="icon-bold"></i>beego</a> 和 <a target="_blank" href="http://gowalker.org/github.com/astaxie/beego/orm">beego orm</a> 构建。</p>

            给我们发送 <i class="icon-envelope"></i>  <a href="mailto:763960267@qq.com">反馈</a> 或者提交 <i class="icon-tasks"></i>.
        </div>
    </div>
</footer>
<div id="share">
    <a id="backtotop" title="返回顶部">返回顶部</a>
</div>
<br>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c58d66235375687b91d21abe5d0630b' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57485583-1', 'auto');
  ga('send', 'pageview');

</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"288"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
