<footer id="_bottom">
    <div class="container" style="padding-left: 0px; padding-top: 10px; padding-bottom: 10px;">
        <div class="col-xs-8 col-md-8" style="width: 600px;">
            <p><strong>版权所有 © 2013-2014 Golearns</strong>
            </p>
            <p>网站建设者 <i class="icon-user"></i>  <a target="_blank" href="https://github.com/m2lan">@m2lan</a>. 项目基于 <a target="_blank" href="http://gowalker.org/github.com/astaxie/beego"><i class="icon-bold"></i>beego</a> 和 <a target="_blank" href="http://gowalker.org/github.com/lunny/xorm">Xorm</a> 构建。</p>

            给我们发送 <i class="icon-envelope"></i>  <a href="mailto:763960267@qq.com">反馈</a> 或者提交 <i class="icon-tasks"></i>.
        </div>
    </div>
</footer>
<div id="share">
    <a id="backtotop" title="返回顶部">返回顶部</a>
</div>
<br>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>