{{template "public/T.header.html"}}
</head>

<body>
    {{template "public/T.navbar.html" .}}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                {{range .Topics}}
                <div class="page-header" style="margin:0">
                    <h3><a href="/topic/view/{{.Id}}">{{.Title}}</a>
                    </h3>
                    <h6 class="text-muted">文章发表于 {{.Created}}，共有 {{.Views}} 次浏览， {{.ReplyCount}} 个评论</h6>
                    <p>
                        {{if (.Content | len) gt 30}} {{substr (html2str .Content) 0 30}}...... {{else}} {{html2str .Content}} {{end}}
                    </p>
                </div>
                {{end}} {{if gt .paginator.PageNums 1}}
                <ul class="pagination pagination-sm">
                    {{if .paginator.HasPrev}}
                    <li><a href="{{.paginator.PageLinkFirst}}">第一页</a>
                    </li>
                    <li><a href="{{.paginator.PageLinkPrev}}">&lt;</a>
                    </li>
                    {{else}}
                    <li class="disabled"><a>第一页</a>
                    </li>
                    <li class="disabled"><a>&lt;</a>
                    </li>
                    {{end}} {{range $index, $page := .paginator.Pages}}
                    <li{{if $.paginator.IsActive .}} class="active" {{end}}>
                        <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                        </li>
                        {{end}} {{if .paginator.HasNext}}
                        <li><a href="{{.paginator.PageLinkNext}}">&gt;</a>
                        </li>
                        <li><a href="{{.paginator.PageLinkLast}}">最后一页</a>
                        </li>
                        {{else}}
                        <li class="disabled"><a>&gt;</a>
                        </li>
                        <li class="disabled"><a>最后一页</a>
                        </li>
                        {{end}}
                </ul>
                {{end}}
            </div>
            <div class="col-xs-6 col-md-4" id="myaffix">
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">分类</a> {{range .classifyCount}}
                    <a href="?c={{.ClassID}}" class="list-group-item"><span class="badge">{{.Num}}</span>{{.Title}}</a> {{end}}
                </div>
                <div class="list-group">
                    <!-- UYAN NEW COMMENT BEGIN -->
                    <div id="uyan_newcmt_unit"></div>
                    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1973744"></script>
                    <!-- 如果已经过加载此行JS，即可不用重复加载 -->
                    <!-- UYAN NEW COMMENT END -->
                </div>
            </div>

        </div>
    </div>

    {{template "public/T.footer.html"}}
    <script>
    $(function() {
        $("#backtotop").hide();
        $(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() > 100) {
                    $("#backtotop").fadeIn();
                } else {
                    $("#backtotop").fadeOut();
                }
            });
            $("#backtotop").click(function() {
                $('body,html').animate({
                    scrollTop: 0
                }, 500);
                return false;
            });
        });
    });
    </script>
</body>

</html>
