{{template "../public/T.admin.header.html"}}

<link href="css/DT_bootstrap.css" rel="stylesheet" />
<link href="css/responsive-tables.css" rel="stylesheet" />

<body>
    <!-- section header -->
    <header class="header" data-spy="affix" data-offset-top="0">
        {{template "../public/T.admin.navbar.html" .}}
    </header>

    <!-- section content -->
    <section class="section">
        <div class="row-fluid">
            {{template "../public/T.admin.sideleft.html" .}}
            <!-- span content -->
            <div class="span11">
                <!-- content -->
                <div class="content">
                    <!-- content-breadcrumb -->
                    <div class="content-breadcrumb">

                        <!--breadcrumb-->
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icofont-home"></i> 分类</a>
                            </li>
                        </ul>
                        <!--/breadcrumb-->
                    </div>
                    <!-- /content-breadcrumb -->

                    <!-- content-body -->
                    <div class="content-body">
                        <!-- hover -->
                        <div class="row-fluid">
                            <div class="span12">
                                <!--element-->
                                    <div id="element" class="row-fluid">
                                        <!--span-->
                                        <div class="span12">
                                            <!--box-->
                                            <div class="box corner-all">
                                                <!--box header-->
                                                <div class="box-header grd-white color-silver-dark corner-top">
                                                    <div class="header-control">
                                                        <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                                                        <a data-box="close">&times;</a>
                                                    </div>
                                                    <span>分类修改</span>
                                                </div><!--/box header-->
                                                <!--box body-->
                                                <div class="box-body">
                                                    <!--element-->
                                                    <form class="form-horizontal" method="post" action="/admin/classify/update" />
                                                        <div class="control-group">
                                                            <label class="control-label" for="inputAuto">分类名称</label>
                                                            <div class="controls">
                                                            {{range .Classify}}
                                                                <input type="text" id="title" name="title" class="grd-white" value="{{.Title}}" />
                                                                <input type="hidden" name="id" id="id" value="{{.Id}}">
                                                            {{end}}
                                                            </div>
                                                        </div>
                                                        <div class="form-actions">
                                                            <button type="submit" class="btn btn-primary">保存</button>
                                                            <a href="/admin/classify" class="btn">取消</a>
                                                        </div>
                                                    </form>
                                                    <!--/element-->
                                                </div><!--/box body-->
                                            </div><!--/box-->
                                        </div><!--/span--> 
                                    </div><!--/element-->
                            </div>
                            <!-- /span -->
                        </div>
                        <!--/hover-->
                    </div>
                    <!--/content-body -->
                </div>
                <!-- /content -->
            </div>
            <!-- /span content -->
        </div>
    </section>

    <!-- section footer -->
    <footer>
        <a rel="to-top" href="#top"><i class="icofont-circle-arrow-up"></i></a>
    </footer>

    <!-- javascript
        ================================================== -->
    {{template "../public/T.admin.js.html"}} {{template "../public/T.admin.table.html"}}
</body>

</html>
